
@{
    ViewBag.Title = "Alisson Rubim - Fullstack developer";
}

<header id="header-main">
    <div id="particles">
    </div>
    <div id="profile-text">
        <div class="wrapper">
            <div id="combobox-language-container" class="float-right">
                <label>@GlobalizationConfig.GetCurrentLanguageName()</label><i class="arrow down"></i></p>
            </div>
            <div id="profile-text-name">@Globalization.GetString("ALISSON RUBIM [#UpperCase]")</div>
            <div id="profile-text-detail">@Globalization.GetString("Fullstack Developer")</div>
        </div>
    </div>

    <div class="wrapper">
        <div id="profile-card">
            <div id="profile-picture">
                <img alt="Alisson Rubim profile picture" src="~/Content/img/picture.png" />
            </div>
            <div id="profile-description">
                <div id="profile-description-scope">
                    
                    <h3 class="profile-top">@Globalization.GetString("Welcome,")</h3>
                    <h2 class="profile-title">@Globalization.GetString("I'm Alisson Rubim")</h2>
                    <h4 class="profile-subtitle">@Globalization.GetString("Fullstack Developer and Designer by hobby")</h4>
                    <div class="rule"></div>
                    <table id="profile-info">
                        <tr>
                            <td><b>@Globalization.GetString("Age")</b></td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td><b>@Globalization.GetString("Website")</b></td>
                            <td>https://www.alissonrubim.com</td>
                        </tr>
                        <tr>
                            <td><b>@Globalization.GetString("Email")</b></td>
                            <td>alissonrubim@gmail.com</td>
                        </tr>
                        <tr>
                            <td><b>@Globalization.GetString("Phone")</b></td>
                            <td>+55 32 991416679</td>
                        </tr>
                    </table>
                </div>
                <div id="profile-description-footer">
                    <nav id="menu-main" class="menu">
                        <ul>
                            <li><a href="https://www.facebook.com/alissonrubim" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/alissonrubim" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/alissonrubim/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/alissonrubim" target="_blank"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://bitbucket.org/alissonrubim/" target="_blank"><i class="fab fa-bitbucket"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">
    <section class="scope about" id="section-about">
        <header id="section-about-header">
            <h4><i class="fas fa-address-card"></i> @Globalization.GetString("ABOUT ME [#UpperCase]")</h4>
        </header>
        <article class="card">
            <p>Brasileiro nascido em Minas Gerais, sou um rapaz apaixonado por tecnologia e que logo cedo descobriu que seu hobby de programador poderia se tornar uma profissão. Desde os 14 anos busquei aprender e aprimorar meus conhecimentos, começando com o básico do C e descobrindo com o tempo a minha vocação para o desenvolvimento web.</p>
            <p>Participei de vários projetos, colaborando com o máximo do meu conhecimento e dividindo experiências com os outros colaboradores.</p>
            <p>Nunca é tarde para aprender a desenvolver.</p>
        </article>
    </section>
</div>

<div class="wrapper">
    <section class="scope skills" id="section-skills">
        <header id="section-skills-header">
            <h4><i class="fas fa-hand-spock"></i> @Globalization.GetString("SKILLS [#UpperCase]")</h4>
        </header>
        <article id="skill-contents">
            <div>
                <div class="card half left">
                    <div class="card-title"><i class="fas fa-code"></i> @Globalization.GetString("Front-End Development")</div>
                    <div class="skill">
                        <label>Javascript <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 99%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>HTML 5 <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 99%;"></div></div>
                    </div>

                    <div class="skill">
                        <label>CSS (SASS, LESS, Animation) <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 99%;"></div></div>
                    </div>

                    <div class="skill">
                        <label>ExtJS <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 89%;"></div></div>
                    </div>

                    <div class="skill">
                        <label>Bootstrap <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 99%;"></div></div>
                    </div>

                    <div class="skill">
                        <label>JQuery <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 99%;"></div></div>
                    </div>

                    <div class="skill">
                        <label>React <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 79%;"></div></div>
                    </div>
                </div>
                <div class="card half right">
                    <div class="card-title"><i class="fas fa-terminal"></i> @Globalization.GetString("Back-End Development")</div>
                    <div class="skill">
                        <label>.Net Framwork (C#) MVC <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 97%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>ASP.Net <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 97%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>PHP <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 92%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Cake PHP <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 71%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Laravel <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 69%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>NodeJs  <span class="skill-status">@Globalization.GetString("Basic")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 31%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Delphi  <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 69%;"></div></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card half left">
                    <div class="card-title"><i class="fas fa-mobile"></i> @Globalization.GetString("Mobile Development")</div>
                    <div class="skill">
                        <label>Swift3 <span class="skill-status">@Globalization.GetString("Advanced")</pan></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 89%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Java (Android Studio) <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 95%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Ionic (Apache Cordova) <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 91%;"></div></div>
                    </div>
                </div>
                <div class="card half right">
                    <div class="card-title"><i class="fas fa-paint-brush"></i> @Globalization.GetString("Design")</div>
                    <div class="skill">
                        <label>Photoshop <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 100%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>CorelDraw <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 77%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>Blender 3D <span class="skill-status">@Globalization.GetString("Basic")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 25%;"></div></div>
                    </div>
                    <div class="skill">
                        <label>UI/UX <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                        <div class="custom-progress-bar"><div class="progress-status" style="width: 95%;"></div></div>
                    </div>
                </div>
            </div>
            <div class="card half left">
                <div class="card-title"><i class="fas fa-language"></i> @Globalization.GetString("Database")</div>
                <div class="skill">
                    <label>Microsoft SQL Server <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 95%;"></div></div>
                </div>
                <div class="skill">
                    <label>MySQL (MariaDB) <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 89%;"></div></div>
                </div>
                <div class="skill">
                    <label>Postgree <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 62%;"></div></div>
                </div>
                <div class="skill">
                    <label>Sqlite <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 52%;"></div></div>
                </div>
                <div class="skill">
                    <label>Oracle <span class="skill-status">@Globalization.GetString("Basic")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 32%;"></div></div>
                </div>
            </div>
            <div class="card half right" style="height: 345px;">
                <div class="card-title"><i class="fas fa-language"></i> @Globalization.GetString("Languages")</div>
                <div class="skill">
                    <label>@Globalization.GetString("Portuguese")<span class="skill-status">@Globalization.GetString("Native")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 100%;"></div></div>
                </div>

                <div class="skill">
                    <label>@Globalization.GetString("English") <span class="skill-status">@Globalization.GetString("Advanced")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 97%;"></div></div>
                </div>

                <div class="skill">
                    <label>@Globalization.GetString("Spanish") <span class="skill-status">@Globalization.GetString("Intermediate")</span></label>
                    <div class="custom-progress-bar"><div class="progress-status" style="width: 65%;"></div></div>
                </div>
            </div>
        </article>
    </section>

    <section class="scope" id="section-education">
        <header id="section-education-header">
            <h4><i class="fas fa-graduation-cap"></i> @Globalization.GetString("EDUCATION [#UpperCase]")</h4>
        </header>

        <article class="education left">
            <div class="card">
                <div class="education-title">Análise e Desenvolvimento de Sistemas</div>
                <div class="education-detail">Vianna Junior - 08/2016 a 08/2018</div>
            </div>
            <div class="timeline">
                <div class="arrow-right"></div>
                <div class="dot"></div>
            </div>
        </article>

        <article class="education right">
            <div class="timeline">
                <div class="dot"></div>
                <div class="arrow-left"></div>
            </div>
            <div class="card">
                <div class="education-title">Ciência da Computação</div>
                <div class="education-detail">Universidade Federal de Juiz de Fora - 08/2012 a 12/2015</div>
            </div>

        </article>

        <article class="education left">
            <div class="card">
                <div class="education-title">Informática Industrial e Automação</div>
                <div class="education-detail">CEFET - 01/2009 a 12/2011</div>
            </div>
            <div class="timeline">
                <div class="arrow-right"></div>
                <div class="dot"></div>
            </div>
        </article>
    </section>

    <section class="scope" id="section-projects">
        <header id="section-projects-header">
            <h4><i class="fas fa-briefcase"></i> @Globalization.GetString("PROJECTS [#UpperCase]")</h4>
        </header>
        <article class="card project">
            <div class="project-picture">
                <img alt="TradingView logo" src="~/Content/img/tradingview.jpg" />
            </div>
            <div class="project-info">
                <h3>Tradução do TradingView</h3>
                <p class="project-site"><a href="https://www.tradingview.com" target="_blank">www.tradingview.com</a></p>
                <p>Participação no processo de tradução do TradingView. Neste projeto, fui o responsável pela equipe brasileira de tradução, auxiliando na organização e criação do dicionário de palavras em comum. O projeto durou 4 meses e foi realizado com sucesso.</p>
                <p>Para acessar o link da publicação <a href="https://blog.tradingview.com/pb/bem-vindos-ao-tradingview-brasil-2710/" target="_blank">clique aqui</a>.</p>
            </div>
        </article>
        <article class="card project">
            <div class="project-picture">
                <img alt="EasyWaiters logo" src="~/Content/img/easywaiters.jpg" />
            </div>
            <div class="project-info">
                <h3>EasyWaiters</h3>
                <p class="project-site"><a href="http://www.easywaiters.com" target="_blank">www.easywaiters.com</a></p>
                <p>Co-fundador e criador do projeto EasyWaiters, um sistema para gerenciamento e gestão de bares, cafeterias e restaurantes. Pensado para resolver problemas de praticidade e comunicação entre cliente-garçom-cozinha.</p>
                <p></p>
            </div>
        </article>
        <article class="card project">
            <div class="project-picture">
                <img alt="GaEngine logo" src="~/Content/img/gaengine.jpg" />
            </div>
            <div class="project-info">
                <h3>GA Engine</h3>
                <p class="project-site"><a href="https://github.com/alissonrubim/GAEngine" target="_blank">www.github.com/alissonrubim/GAEngine</a></p>
                <p>GA Engine é um projeto onde foi implementado um framework para programação de Algoritmos Genéticos.</p>
                <p>O objectivo desse projeto é facilitar o entendimento dos códigos genéticos, podendo ser utilizado em sala de aula por um mestre para apresentar soluções simples utilizando pouco código.</p>
            </div>
        </article>
        <article class="card project">
            <div class="project-picture">
                <img alt="GuideMe logo" src="~/Content/img/guideme.jpg" />
            </div>
            <div class="project-info">
                <h3>GuideMe</h3>
                <p class="project-site"><a href="https://github.com/alissonrubim/GuideMe" target="_blank">www.github.com/alissonrubim/GuideMe</a></p>
                <p>GuideMe é um joguinho 2D feito para estimular crianças a aprender mais sobre desenvolvimento.</p>
                <p>O jogo é interessante pois com ele é possível programar as ações do boneco, com simples comandos, mostrando para quem esta apredendo como funciona a lógica da programação.</p>
            </div>
        </article>
        <div class="readmore"><a href="https://github.com/alissonrubim/" target="_blank">@Globalization.GetString("Clique here to know more about my projects")</a></div>
    </section>
</div>

<footer>
    <div class="wrapper">
        <div class="footer-contents">
            <div class="table-cell">
                <div id="footer-menu-title"><label>@Globalization.GetString("Navigate")</label></div>
                <nav id="menu-sections">
                    <ul>
                        <li><a href="#section-about-header">@Globalization.GetString("About me")</a></li>
                        <li><a href="#section-skills-header">@Globalization.GetString("Skills")</a></li>
                        <li><a href="#section-education-header">@Globalization.GetString("Education")</a></li>
                        <li><a href="#section-projects-header">@Globalization.GetString("Projects")</a></li>
                    </ul>
                </nav>
            </div>
            <div class="table-cell">
                <div id="footer-menu-title" class="profile"><label>@Globalization.GetString("My informations")</label></div>
                <table id="profile-info">
                    <tr>
                        <td><b>@Globalization.GetString("Age")</b></td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td><b>@Globalization.GetString("Website")</b></td>
                        <td>https://www.alissonrubim.com</td>
                    </tr>
                    <tr>
                        <td><b>@Globalization.GetString("Email")</b></td>
                        <td>alissonrubim@gmail.com</td>
                    </tr>
                    <tr>
                        <td><b>@Globalization.GetString("Phone")</b></td>
                        <td>+55 32 991416679</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="rule"></div>
        <nav id="menu-footer" class="menu">
            <ul>
                <li><a href="https://www.facebook.com/alissonrubim" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/alissonrubim" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/alissonrubim/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/alissonrubim" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://bitbucket.org/alissonrubim/" target="_blank"><i class="fab fa-bitbucket"></i></a></li>
                <li><a href="http://steamcommunity.com/id/piggroll/" target="_blank"><i class="fab fa-steam"></i></a></li>
                <li><a href="https://my.playstation.com/profile/PiggRoll" target="_blank"><i class="fab fa-playstation"></i></a></li>
                <li><a href="https://account.xbox.com/Profile?gamerTag=piggroll" target="_blank"><i class="fab fa-xbox"></i></a></li>
            </ul>
        </nav>
    </div>

    <div class="bottom">
        <div class="wrapper">
            <table>
                <tr>
                    <td>© 2018 - alissonrubim.com <br /> @Globalization.GetString("Fullstack Developer")</td>
                    <td>@Globalization.GetString("Created and idealized by") Alisson Rubim</td>
                    <td>@Globalization.GetString("Make with") <i class="fas fa-heart"></i><br /> @Globalization.GetString("and a lot of coffee")</td>
                </tr>
            </table>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        Site.Initiate();
    })
</script>
